/* DISABLE the horizontal scroll feature */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/streaming-services-guide-1618259319.jpg");
}

/* Center title of site & thank you note */
header {
    text-align: center;
    padding: 40px;
    color: white;
    font-weight: bold;
}

/* Center groove border + Add #404040 to background */
.groove {
    border-style: groove;
    width: 300px;
    height: 500px;
    border: 1px solid white;
    margin: auto;
    width: 50%;
    padding: 40px;
    background-color: #404040;
}

/* Within the border, the input question are white */
.inputinfo {
    color: white;
}

label {
    color: white;
}