/* DISABLE the horizontal scroll feature */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

/* Center groove border */
p.groove {
    border-style: groove;
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    margin: auto;
    width: 50%;
    padding: 10px;
}